body {
    margin: 0%;
    padding: 0%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background-image: url(/Assets/Pictures/profileBackground.jpg);
    /* background-image: url(/Assets/Pictures/profileBackground.jpg); */
}

/* Partie header de la page home */

header {
    height: 80px;
    /*width: 100%;*/
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 1%;
}

header .logoImg {
    width: 200px;
    height: 45px;
}

.hamburger {
    position: fixed;
    z-index: 100;
    top: 1rem;
    right: 1rem;
    padding: 4px;
    border: black solid 1px;
    cursor: pointer;
}

.closeIcon {
    display: none;
}

.menu {
    position: fixed;
    transform: translateY(-100%);
    transition: transform 0.2s;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    background: black;
    color: white;
    list-style: none;
    padding-top: 4rem;
}

.showMenu {
    transform: translateY(0);
}

/* Partie Main de la page home */
.main-home-diplay {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.CtosExplain {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    margin-bottom: 5%;
    margin-top: 5%;
}

/* couleur de fond bleu ciel */
.blue {
    background-color: #24C1F3;
}

/* couleur de fond orange */
.orange {
    background-color: #E64A19;
}

.CtosExplain p {
    color: white;
    margin: 20px 40px;
    /* Augmentation de la marge pour un espacement plus agréable */
    font-weight: bold;
    line-height: 1.6;
    /* Augmentation de l'espacement des lignes pour une meilleure lisibilité */
    font-size: 16px;
    /* Ajustement de la taille de la police */
    font-family: Arial, sans-serif;
    /* Utilisation d'une police de caractères sans empattement pour une meilleure lisibilité */
}

.CtosExplain img {
    max-width: 400px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

iframe {
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.image-section {
    display: flex;
    justify-content: space-between;
    margin: 2%;
}

.image-section img {
    width: 30%;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
}

.image-section img:hover {
    transform: scale(1.1);
}

.lienVersConnexion {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lienVersConnexion a {
    color: #007bff;
}

.lienVersConnexion a:hover {
    color: #007bff;
    font-weight: bold;
}