body {
    margin: 0%;
    padding: 0%;
}

/* Partie header de la page home */

header {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1%;
    padding-right: 1%;
}

header .logoImg {
    width: 200px;
    height: 45px;
}

/* Partie Main de la page home */

.main-home-diplay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.CtosExplain {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.CtosExplain p {
    background-color: #333;
    color: white;
    max-width: 800px;
    padding: 20px;
    border-radius: 15px;
    margin: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

iframe {
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

/* Partie footer */

footer {
    margin-top: 2%;
    height: 100px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    /* positionner toujours en bas de page */
    position: absolute; 
    bottom: 0; left: 0; right: 0
    
}

.copyright {
    color: white;
    font-weight: bold;
    font-size: 1.2em; /* Adjust the size as needed */
}