/* Life Tracking */
.sectionTrack {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 20px;

}

.containerRecords {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1000px;
    width: 100%;
}

.criminal-records {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 5%;
}

.profile-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5%;
}

.profile-image {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

.threat-level {
    width: 100px;
    height: 50px;
    background-color: #FF0000;
    color: #FFF;
    text-align: center;
    line-height: 50px;
}

/* Style pour les enregistrements criminels */
.criminal-records div {
    padding: 10px;
    display: flex;
    align-items: center;
}

.criminal-records div:nth-child(odd) {
    background-color: #464646;
    /* impair */
}

.criminal-records div:nth-child(even) {
    background-color: #6A6A6A;
    /* pair */
}

.criminal-records div p {
    margin: 0;
    padding-right: 10px;
    color: white;
}

/* Style pour la dernière ligne des enregistrements */
.criminal-records div:last-child {
    margin-bottom: 0;
}

.criminal-records h2 {
    color: white;
    padding: 10px;
    display: flex;
    margin-bottom: 0;
}

.recent {
    background-color: #24C1F3;
    padding: 5px;
    margin: 5%;
}

.recent p {
    color: white;
}

.trackSect {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#profile-info {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.imageP-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}

.imgProfil {
    width: 300px;
    border-radius: 25px;
}

.trackSect div {
    justify-content: space-around;
}

label {
    font-weight: bold;
}

.user-data {
    margin-bottom: 20px;
}

.user-data div {
    margin-top: 5px;
}

.buttonTracking {
    margin-top: 20px;
    background-color: #24C1F3;
    border: none;
    color: white;
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.buttonTracking a {
    color: white;
    font-size: 18px;
    font-weight: bold;
}

.buttonTracking:hover {
    background-color: #E64A19;
}

.profileImg {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: 20px;
}